<ion-view view-title="Category">
    <ion-nav-buttons side="right">
        <div class="icon-cart ink">
            <div class="total-cart">
                <span>3</span>
            </div>  
            <button ui-sref="app.ecommerce-wish" class="button ink button-icon button-clear ion-ios-heart-outline"></button>
        </div>
        <div class="icon-cart ink">
            <div class="total-cart">
                <span>12</span>
            </div>
            <button ui-sref="app.ecommerce-cart" class="button ink button-icon button-clear ion-ios-cart-outline"></button>
        </div>       
    </ion-nav-buttons>
  <ion-content class="ecommerce">
    <div class="item item-divider">
        BEST SELLER PRODUCTS
    </div>
  	<div class="row">
      <div class="col col-50 ink" ui-sref="app.ecommerce-product">
        <div class="product">
            <div class="badges">
                <span class="sale">10% OFF</span>
            </div>
            <div class="img" style="background-image: url(img/ecommerce/coffee.jpg)"></div>
            <div class="box">
                <h5>Coffee</h5>                
                <span class="price">$13.5</span>
                <del>$15</del>
            </div>
        </div>
      </div>
      <div class="col col-50 ink" ui-sref="app.ecommerce-product">
        <div class="product">
            <div class="img" style="background-image: url(img/ecommerce/ice-cream.jpg)"></div>
            <div class="box">
                <h5>Ice Cream</h5>
                <span class="price">$5</span>
            </div>
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col col-50 ink" ui-sref="app.ecommerce-product">
        <div class="product">
            <div class="img" style="background-image: url(img/ecommerce/shoe.jpg)"></div>
            <div class="box">
                <h5>Shoes</h5>
                <span class="price">$120</span>
            </div>
        </div>
      </div>
      <div class="col col-50 ink" ui-sref="app.ecommerce-product">
        <div class="product">
            <div class="badges">
                <span class="sale">50% OFF</span>
            </div>
            <div class="img" style="background-image: url(img/ecommerce/watch.jpg)"></div>
            <div class="box">
                <h5>Watch</h5>                
                <span class="price">$250</span>
                <del>$500</del>
            </div>
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col col-50 ink" ui-sref="app.ecommerce-product">
        <div class="product">
            <div class="badges">
                <span class="sold">Sold out</span>
            </div>
            <div class="img" style="background-image: url(img/ecommerce/camera.jpg)"></div>
            <div class="box">
                <h5>Camera</h5>
                <span class="price">$100</span>
            </div>
        </div>
      </div>
      <div class="col col-50 ink" ui-sref="app.ecommerce-product">
        <div class="product">
            <div class="badges">
                <span class="sale">50% OFF</span>
            </div>
            <div class="img" style="background-image: url(img/ecommerce/camera-old.jpg)"></div>
            <div class="box">
                <h5>Camera Old</h5>                
                <span class="price">$250</span>
                <del>$500</del>
            </div>
        </div>
      </div>      
    </div>
    <div class="item item-divider">
        NEW PRODUCTS
    </div>
    <div class="row">
      <div class="col col-50 ink" ui-sref="app.ecommerce-product">
        <div class="product">
            <div class="img" style="background-image: url(img/ecommerce/tank.jpg)"></div>
            <div class="box">
                <h5>New Toys</h5>                
                <span class="price">$250</span>
            </div>
        </div>
      </div>
      <div class="col col-50 ink" ui-sref="app.ecommerce-product">
        <div class="product">
            <div class="badges">
                <span class="sale">10% OFF</span>
            </div>
            <div class="img" style="background-image: url(img/ecommerce/camera-new.jpg)"></div>
            <div class="box">
                <h5>New Camera</h5>
                <del>$500</del>
                <span class="price">$450</span>
            </div>
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col col-50 ink" ui-sref="app.ecommerce-product">
        <div class="product">
            <div class="badges">
                <span class="sale">10% OFF</span>
            </div>
            <div class="img" style="background-image: url(img/ecommerce/coffee.jpg)"></div>
            <div class="box">
                <h5>Coffee</h5>                
                <span class="price">$13.5</span>
                <del>$15</del>
            </div>
        </div>
      </div>
      <div class="col col-50 ink" ui-sref="app.ecommerce-product">
        <div class="product">
            <div class="img" style="background-image: url(img/ecommerce/ice-cream.jpg)"></div>
            <div class="box">
                <h5>Ice Cream</h5>
                <span class="price">$5</span>
            </div>
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col col-50 ink" ui-sref="app.ecommerce-product">
        <div class="product">
            <div class="badges">
                <span class="sold">Sold out</span>
            </div>
            <div class="img" style="background-image: url(img/ecommerce/camera.jpg)"></div>
            <div class="box">
                <h5>Camera</h5>
                <span class="price">$100</span>
            </div>
        </div>
      </div>
      <div class="col col-50 ink" ui-sref="app.ecommerce-product">
        <div class="product">
            <div class="badges">
                <span class="sale">50% OFF</span>
            </div>
            <div class="img" style="background-image: url(img/ecommerce/camera-old.jpg)"></div>
            <div class="box">
                <h5>Camera Old</h5>                
                <span class="price">$250</span>
                <del>$500</del>
            </div>
        </div>
      </div>      
    </div>
  </ion-content>
</ion-view>
