<ion-view view-title="Call, Email & SMS">
  <ion-content>
    <div class="row padding">
    	<a class="button icon-left ion-android-call button-positive" ng-href="tel:081123456">Call us now</a>
    </div>
	<div class="row padding">
		<button class="button icon-left ion-email button-calm" ng-click="email();">Email us now</button>
    </div>
    <div class="row padding">
    	<button class="button icon-left ion-android-textsms button-balanced" ng-click="sms();">Text us now</button>
  	</div>
  </ion-content>
</ion-view>
