<ion-view view-title="Hotel App">
  <ion-content class="hotel">
    <ion-list class="animate-blinds">
        <ion-item class="ink" style="background-image: url(img/hotel/aus.jpg);">
            <div class="opacity"></div>
            <h2 class="center">Australia</h2>
        </ion-item>
        <ion-item class="ink" style="background-image: url(img/hotel/cam.jpg);">
            <div class="opacity"></div>
            <h2 class="center">Cambodia</h2>
        </ion-item>
        <ion-item class="ink" style="background-image: url(img/hotel/hon.jpg);">
            <div class="opacity"></div>
            <h2 class="center">Hongkong</h2>
        </ion-item>
        <ion-item class="ink" style="background-image: url(img/hotel/ind.jpg);">
            <div class="opacity"></div>
            <h2 class="center">Indonesia</h2>
        </ion-item>
        <ion-item class="ink" style="background-image: url(img/hotel/jap.jpg);">
            <div class="opacity"></div>
            <h2 class="center">Japan</h2>
        </ion-item>
        <ion-item class="ink" style="background-image: url(img/hotel/lao.jpg);">
            <div class="opacity"></div>
            <h2 class="center">Laos</h2>
        </ion-item>
        <ion-item class="ink" style="background-image: url(img/hotel/mac.jpg);">
            <div class="opacity"></div>
            <h2 class="center">Macau</h2>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
