<ion-view view-title="News Category">
  <ion-content class="newscategory animate-fade-slide-in-right">
    <div class="row">
      <div class="col item card" style="background-image: url(img/news/entertainment.jpg);">
          <div class="opacity"></div>
          <div class="box">
              <h5>ENTERTAINMENT</h5>
          </div>
      </div>
      <div class="col item card"  style="background-image: url(img/news/food.jpg);">
        <div class="opacity"></div>
        <div class="box">
            <h5>FOOD & DRINK</h5>
        </div>        
      </div>      
    </div>
    <div class="row">
      <div class="col item card"  style="background-image: url(img/news/health.jpg);">
        <div class="opacity"></div>
        <div class="box">
            <h5>HEALTH & FITNESS</h5>
        </div>
      </div>
      <div class="col item card"  style="background-image: url(img/news/home.jpg);">
        <div class="opacity"></div>
        <div class="box">
            <h5>HOME & GARDEN</h5>
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col item card"  style="background-image: url(img/news/lifestyle.jpg);">
        <div class="opacity"></div>
        <div class="box">
            <h5>LIFESTYLE</h5>
        </div>
      </div>
      <div class="col item card"  style="background-image: url(img/news/news.jpg);">
        <div class="opacity"></div>
        <div class="box">
              <h5>NEWS & POLITICS</h5>
          </div>
      </div>      
    </div>
    <div class="row">
      <div class="col item card"  style="background-image: url(img/ecommerce/camera-new.jpg);">
        <div class="opacity"></div>
        <div class="box">
            <h5>SCIENCE & TECHNOLOGY</h5>
        </div>
      </div>
      <div class="col item card"  style="background-image: url(img/ecommerce/watch.jpg);">
        <div class="opacity"></div>
        <div class="box">
              <h5>SPECIAL INTEREST</h5>
          </div>
      </div>      
    </div>
    <div class="row">
      <div class="col item card"  style="background-image: url(img/ecommerce/women.jpg);">
        <div class="opacity"></div>
        <div class="box">
            <h5>WOMEN'S LIFESTYLE</h5>
        </div>
      </div>
      <div class="col item card"  style="background-image: url(img/ecommerce/men.jpg);">
        <div class="opacity"></div>
        <div class="box">
              <h5>MEN'S LIFESTYLE</h5>
          </div>
      </div>      
    </div>
  </ion-content>
</ion-view>
