<ion-view view-title="Social Media">
  <ion-content class="social">
    <ion-list>
        <ion-item>
            <div class="item-avatar">
                <div class="img" style="background-image: url(img/user-default.png)"></div>
                <div class="user">
                    <span class="pull-right">3d</span>
                    <h3>John Doe</h3>
                </div>
            </div>
            <div class="item-featured">
                <div class="img" style="background-image: url(img/ecommerce/slide1.jpg);"></div>            
            </div>
            <div class="item-body">
                <div class="tabs static tabs-icon-left comment">
                    <a class="subdued pull-right more"><i class="icon ion-more"></i></a>
                    <a class="tab-item"> 
                        <i class="icon ion-thumbsup"></i>
                        Like
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-chatbox"></i>
                        Comment
                    </a>
                </div>
                <div class="stat">
                  <a href="#" class="subdued">3 Likes</a>
                  <a class="subdued">2 Comments</a>
                  <a class="subdued">4 Views</a>
                </div>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </div>                          
            </div>
        </ion-item>
        <ion-item>
            <div class="item-avatar">
                <div class="img" style="background-image: url(img/user-default.png)"></div>
                <div class="user">
                    <span class="pull-right">3d</span>
                    <h3>John Doe</h3>
                </div>
            </div>
            <div class="item-featured">
                <div class="img" style="background-image: url(img/ecommerce/slide2.jpg);"></div>            
            </div>
            <div class="item-body">
                <div class="tabs static tabs-icon-left comment">
                    <a class="subdued pull-right more"><i class="icon ion-more"></i></a>
                    <a class="tab-item"> 
                        <i class="icon ion-thumbsup"></i>
                        Like
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-chatbox"></i>
                        Comment
                    </a>
                </div>
                <div class="stat">
                  <a href="#" class="subdued">3 Likes</a>
                  <a class="subdued">2 Comments</a>
                  <a class="subdued">4 Views</a>
                </div>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </div>                          
            </div>
        </ion-item>
        <ion-item>
            <div class="item-avatar">
                <div class="img" style="background-image: url(img/user-default.png)"></div>
                <div class="user">
                    <span class="pull-right">3d</span>
                    <h3>John Doe</h3>
                </div>
            </div>
            <div class="item-featured">
                <div class="img" style="background-image: url(img/ecommerce/slide3.jpg);"></div>            
            </div>
            <div class="item-body">
                <div class="tabs static tabs-icon-left comment">
                    <a class="subdued pull-right more"><i class="icon ion-more"></i></a>
                    <a class="tab-item"> 
                        <i class="icon ion-thumbsup"></i>
                        Like
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-chatbox"></i>
                        Comment
                    </a>
                </div>
                <div class="stat">
                  <a href="#" class="subdued">3 Likes</a>
                  <a class="subdued">2 Comments</a>
                  <a class="subdued">4 Views</a>
                </div>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </div>                          
            </div>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
