<ion-view view-title="Device Information">
  <ion-content scroll="false">
  	<div class="center">
  		<div class="hardware">
  			<i class="icon ion-information-circled"></i>
  			<h4>Device Information</h4>
  			<table align="center">
			<tr>
				<th>Cordova :</th>
				<td>{{cordova}}</td>
			</tr>
			<tr>
				<th>Model :</th>
				<td>{{model}}</td>
			</tr>
			<tr>
				<th>Platform :</th>
				<td>{{platform}}</td>
			</tr>
			<tr>
				<th>UUID :</th>
				<td>{{uuid}}</td>
			</tr>
			<tr>
				<th>Version :</th>
				<td>{{version}}</td>
			</tr>
  			</table>
  			<p class="note"><b>Note:</b> This device information is only works on real device. It will not work on browser.</p>
  		</div>
  	</div>
  </ion-content>
</ion-view>
