<ion-view view-title="Dialogs">
  <ion-content scroll="false">
  	<div class="center">
  		<div class="hardware">
  			<i class="icon ion-android-alert"></i>
        <button class="button button-balanced" ng-click="showAlert();">Alert</button>
        <button class="button button-balanced" ng-click="showConfirm();">Confirm</button>
        <button class="button button-balanced" ng-click="showPrompt();">Prompt</button>
  			<p class="note"><b>Note:</b> This dialog is only works on real device. It will not work on browser.</p>
  		</div>
  	</div>
  </ion-content>
</ion-view>
