<ion-view view-title="Network Information">
  <ion-content scroll="false">
  	<div class="center">
  		<div class="hardware">
  			<i class="icon ion-wifi"></i>
  			<h4>Network Information</h4>
  			<table align="center">
			<tr>
				<th>Type :</th>
				<td>{{type}}</td>
			</tr>
			<tr>
				<th>Is Online? :</th>
				<td>{{isOnline}}</td>
			</tr>
			<tr>
				<th>Is Offline? :</th>
				<td>{{isOffline}}</td>
			</tr>
  			</table>
  			<p class="note"><b>Note:</b> This network information is only works on real device. It will not work on browser.</p>
  		</div>
  	</div>
  </ion-content>
</ion-view>
