<ion-view view-title="Toast">
  <ion-content scroll="false">
  	<div class="center">
  		<div class="hardware">
  			<i class="icon ion-alert-circled"></i>
  			<button class="button button-balanced" ng-click="showShortTop();">Show Short Top</button>
        <button class="button button-balanced" ng-click="showShortCenter();">Show Short Center</button>
        <button class="button button-balanced" ng-click="showShortBottom();">Show Long Bottom</button>
  			<p class="note"><b>Note:</b> This toast is only works on real device. It will not work on browser.</p>
  		</div>
  	</div>
  </ion-content>
</ion-view>
